body {
	font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 24px;
	text-align: center;
}
div, h3 {
	margin: 0 0.5em 1em 0.5em;
	line-height: 1.5;
}

a, a:visited {
	//color: rgb(0, 105, 194);
	text-decoration: none;
}

a#toggle {
	color: #fff;
}

.button-7 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  //font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  //font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0 20px 0 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}